html {
  scroll-behavior: smooth;
}

.back1 {
  filter: brightness(0.9);
  object-fit: cover;

}

.navigation {
  transition: all 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
}

.changeOpacity {
  background-color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}